body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

#fullWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* STYLES SIDEBAR */
#sidebar {
  width: 20%;
  min-width: 200px;
  background-color: #c9dcf9;
}

/* STYLES CHATROOM */

#chatroom {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #f9f8f2;
  align-items: flex-start;
}

#display {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#inputArea {
  width: 100%;
  z-index: 100;
  height: 50px;
  background-color: #ffb0d9;
  display: flex;
  align-items: center;
}

#input {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

#sendButton {
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  height: 2em;
}

.wholeMessageBox {
  border: 10px solid aqua;
  border-radius: 10px;
  margin-bottom: 3px;
  width: 100%;
  padding: 10;
  box-sizing: border-box;
}

h6 {
  display: inline-block;
  margin-right: 10px;
}

.second {
  overflow: hidden;
}
